
    
    <h2>Bienvenido a <%= title %></h2>
    <p>El portal donde podrá crear sus propios juegos.</p>
    <h2><a href="/quizes">Comience a jugar!!</a></h2>
    <p class="txt">Como nadie corregía mi ejercicio, he continuado con las modificaciones necesarias para desplegar la BD en Heroku. Esta sitio es diferente a lo solicitado en P2P módulo 6</p>
    