* {
	margin:0;
	padding:0;
}
html, body {
	font-family: "Lucida Grande", sans-serif, verdana;
	height:100%;
}
h1 {
	font-size:2.2em;
	line-height:1;
	margin-top:0;
	text-transform:lowercase;
	font-weight:normal;
	color:#666
}
h2 {
	font-size:2em;
	line-height:1;
	margin-bottom:0.5em;
	font-weight:normal;
	color:#8e8e8e;
	text-transform:lowercase;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #333;
}
#page-wrap {
	margin:0 auto;
	color:#666;
	height:100%;
	background: #eee;
}
p {
	margin-bottom:1em;
}
span {
	line-height:1.5em
}
table {
	width: 80%;
	border-spacing: 1px;
}
td {
	width: auto;
	padding:0.2em;
	background-color: #DFDFDF
}
header {
	background: url(../images/logo.jpg) no-repeat;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	min-height: 50px
}
section {
	border-left:1px solid #999;
}
section>div, nav>div {
	padding: 20px;
}
footer {
	text-align:center;
}
.clear {
	clear:both
}
.txt {
	float:left;
	margin: 5px 60px;
}
.section {
	height:auto
}
#ErrorMsgs{ 
	color: #f61; font-size: smaler
}
.borderbotton{
	border-bottom: 1px solid #666
}