* {
	margin:0;
	padding:0;
}
html, body {
	font-family: "Lucida Grande", sans-serif, verdana;
	height:100%;
	color:#333;

}
h1 {
	font-size:2.2em;
	line-height:1;
	margin-top:0;
	text-transform:lowercase;
	font-weight:normal;
	color:#666
}
h2 {
	font-size:2em;
	line-height:1;
	margin-bottom:0.5em;
	font-weight:normal;
	color:#8e8e8e;
	text-transform:lowercase;
}
h4 {
	font-size:1.4em;
	line-height:1;
	margin-bottom:0.5em;
	font-weight:normal;
	color:#666;
	text-transform:lowercase;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #666;
}
#page-wrap {
	margin:0 auto;
	color:#333;
	height:100%;
	background: #eee;
}
p {
	margin-bottom:1em;
}
span {
	line-height:1.5em
}
table {
	width: 80%;
	border-spacing: 1px;
}
td {
	padding:0.2em;
	background-color: #DFDFDF;
	vertical-align: top;
}
textarea { height: auto; }
nav li {
	list-style:none;margin-bottom:0.5em; font-size: 1.1em;
}
header {
	background: url(../images/logo.jpg) no-repeat;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	min-height: 50px
}
section {
	border-left:1px solid #999; height: auto;font-size: 0.9em
}
section div, nav div {
	padding: 20px;
}
footer {
	text-align:center;
}

.comments {
	
	padding: 5px 20px;font-style: oblique; 
}
.txt {
	
	padding: 5px 60px; float:left;
}
.log {
	
	padding: 10px; float:right;
}
.section {
	height:auto
}
#ErrorMsgs{ 
	color: #f61; font-size: smaler
}
.borderbotton{
	border-bottom: 1px solid #666
}
.bl{background-color: #EEE}
.ita{font-style: oblique}
.bold{ font-weight: bold}
.celda{
 	height: auto;
 	width: 100px;
 }
 .right{ 
 	float: right; }

 	.myButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:1px ;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	min-width: 80px
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}
