
<p><% if (errors.length) {%>
    <span id='ErrorMsgs'>
      Corregir errores: <br/>
      <% for (var i in errors) { %>
        <span> <%= errors[i].message %> </span><br/>
      <% }%>
    </span>
  <% } %></p>
  <form name="form">
  <table>
  <tr>
  <td>Pregunta:</td>
  <td><input type="text" name="quiz[pregunta]" id="preg"  value="<%= quiz.pregunta%>"/></td>
  </tr>
  <tr>
  <td>Respuesta:</td>
  <td><input type="text" name="quiz[respuesta]" id="resp"  value="<%= quiz.respuesta%>"/></td>
  </tr>
  <tr>
  <td>Tema:</td>
  <td><select name="quiz[tema]">
      <option value="eltema" <% if(quiz.tema === "eltema") { %>selected<% } %> >Selecciona tema...</option>
      <option value="Otro" <% if(quiz.tema === "Otro") { %>selected<% } %> >Otro</option>
      <option value="Humanidades" <% if(quiz.tema === "Humanidades") { %>selected<% } %> >Humanidades</option>
      <option value="Ocio" <% if(quiz.tema === "Ocio") { %>selected<% } %> >Ocio</option>
      <option value="Ciencia" <% if(quiz.tema === "Ciencia") { %>selected<% } %> >Ciencia</option>
      <option value="Tecnología" <% if(quiz.tema === "Tecnología") { %>selected<% } %> >Tecnología</option>
</select></td>
  </tr>
  <tr>
  <td></td>
  
  <td>
    <a href="/quizes"><button type="button" class="myButton">Cancelar</button>
    <input value="Salvar" type="submit" class="myButton">
    </td>
    </tr>
  </table>
</form>