<!DOCTYPE html>
<html>
  <head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
   
<p><%=respuesta%></p>
<a href="/quizes/question">Inténtelo otra vez</a>

  </body>
</html>
