
<h2>Login</h2>
<p><% if (errors.length) {%>
    <span id='ErrorMsgs'>
      Error en el acceso al sistema: <br/>
      <% for (var i in errors) { %>
        <span> <%= errors[i].message %> </span><br/>
      <% }%>
    </span>
  <% } %></p>

<form method='POST' action='/login'>
<table>
  <tr>
  <td class="celda">Login:</td>
  <td><input type="text" id="login" name="login"  />
  </td>
  </tr>
  <tr>
  <td>Password: </td>
  <td><input type="password" id="password" name="password" /></td>
  </tr>
  <tr>
  <td></td>
  <td><input name="" type="submit" value="Login" class="myButton" /></td>
  </tr>
  </table>
</form>